*{
    box-sizing: border-box;
    font-family: "Afacad", sans-serif;
    margin: auto;
    padding: 0;
    text-align: center;
    background-color: #f9f9f9;
    touch-action: manipulation; /* double tap to zoom disabled*/
    overflow-x: hidden;
    touch-action: pan-y; /* 모바일에서 세로만 스크롤 */
}
body { 
    font-family: Arial, sans-serif; 
    text-align: center; 
    margin: 20px; 
}
.section { 
    margin: 10px 0; 
}
.paymethod {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px; 
    justify-content: center; 
    margin-bottom: 20px;
}
.paymethod-btn {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}
.paymethod-btn.active {
    border: 2px solid #4CAF50;
    color: #00880c;
}
.buttons { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px; 
    justify-content: center; 
}
button { 
    touch-action: manipulation; /* double tap to zoom disabled*/
    width: 100%;
    padding: 10px; 
    font-size: 20px; 
    cursor: pointer; 
    border-radius: 10px;
    border: 1px solid #ccc; 
}
.price,
.item-text {
    color:black
}
#manualPrice {
    width: 80%; 
    height:32px; 
    margin:2px;
    font-size:20px; 
    border:1px solid #eee; 
    border-radius:10px;
}
.button-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    margin-bottom: 20px;
}
.confirm-btn {
    width: 70%;
    margin:4px;
    padding:10px;
    font-size: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
}
.restart-btn{
    width: 20%;
    padding:10px;
    font-size: 20px;
    border: 1px solid #ccc;
}
#total { 
    font-size: 40px; 
    font-weight: bold;
    margin: 20px; 
}
#history { 
    margin:0;
    padding:0;
    text-align-last: left !important;  
}
.history-date{
    margin:0;
    padding:0;
    text-align: left;
    font-weight: bold;
}
#summary { 
    margin-top: 30px; 
    font-size: 18px; 
}
.line{
    width: 90%;
    height: 10px;
    border-bottom: 1px solid black;
    position: absolute;
}
.reset-btn {
    margin-top: 40px;
    width: 200px;
    padding:10px;
    font-size: 16px;
    background-color: #ff4d4d;
    color: white;
    border: none;
}